@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,200&display=swap');

@import '__variables';

@import 'pages/__home';
@import 'pages/__calc';

* {
  font-family: 'Roboto Mono', monospace;
  color: $text;
  text-decoration: none;
  user-select: none;

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 0;
  }
}

body {
  background: $background;
}