
// Dark-mode
$text: #f6f7f8;
$background: #101114;
$primary: #31363f;
$secondary: #1b1e22;
$accent: #6a7f95;

//Light-mode
$l-text: #101114;
$l-background: #f6f7f8;
$l-primary: #31363f;
$l-secondary: #e8eaed;
$l-accent: #2a333c;
